# =========================
# Python
# =========================
backend/.venv/
backend/__pycache__/
backend/**/*.pyc
backend/alembic/versions/__pycache__/

# =========================
# Node
# =========================
frontend/node_modules/
frontend/dist/

# =========================
# Environment
# =========================
.env
backend/.env
frontend/.env

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# VSCode
# =========================
.vscode/